/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/NeuralNet.iml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-05caa3eab49b9f3e4a93.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a2f823f438d7b1ff1f70.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8ce97e764b10e1b5c67d.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-24T03-17-23-0152.json
/cmake-build-debug/.cmake/api/v1/reply/target-NeuralNet-Debug-edff402517ff77bc831c.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e40618a89716f12c9eb9.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/NeuralNet.dir/main.c.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/NeuralNet
/.idea/vcs.xml
.idea
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ec1e7e60d61eebc2174d.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a9707617c19f0bbe46ae.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-24T04-03-07-0897.json
/cmake-build-debug/.cmake/api/v1/reply/target-NeuralNet-Debug-f31da5403aa94d62400a.json
/cmake-build-debug/CMakeFiles/NeuralNet.dir/src/functions.c.o
cmake-build-debug
build
/build-test/
/Cmake-build/
/CmakeBuild/
